body{
    font-family: 'Sora', monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-title{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.082), rgba(177, 76, 244, 0.738), rgba(0, 0, 0, 0.082));
    backdrop-filter: blur(2px);
    background-repeat: no-repeat;
    color: white;
    height: 90px;
    text-align: center;
    padding: 10px;
}

h1{
    font-weight: bold;
}

.navbar-nav{
    gap: 30px;
}

.nav-links:hover{
    animation-name: expandScaleSuable;
    animation-duration: 1.2s;
}

@keyframes expandScaleSuable{
    from{
        scale: 0.8;
    }
    to{
        scale: 1.2;
    }
}

main{
    flex: 1;
    background-color: rgba(216, 222, 222, 0.206);
    color: white;
}

.container-moon{
    display: flex;
    flex-direction: row;
}

#moon-phase{
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 8px 5px rgba(246, 243, 243, 0.762);
}

footer{
    background-color: rgba(255, 255, 255, 0.069);
    backdrop-filter: blur(1px);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: small;
}

.row-icons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.tech-img{
    height: 25px;
    width: 25px;
}