<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='apod.css')}}">
    <title>Astronomy Picture Of Day</title>
</head>
<body>
    <div class="container-title">
    <h1>Astronomy Picture Of Day</h1>
    </div>
    <div class="container-img">
        <img src="https://apod.nasa.gov/apod/image/2604/BlueHorse_Alkuwari_960.jpg">
    </div>
</body>
</html>