<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/apod.css')}}">
    <title>Astronomy Picture Of Day</title>

    <style>
        body {
            background-image: url("{{url_for('static', filename='images/cosmic-bg.png')}}");
        }
    </style>

</head>

<body>

    <header>
        <div class="container-title">
            <h1 id="title-caption">Astronomy Picture Of Day</h1>
            <button id="btn-home" type="button" class="btn btn-outline-primary"
                onclick=window.location.href="{{url_for('index')}}">Voltar</button>
        </div>
    </header>

    <main>
        <h2>A API APOD retorna uma imagem diretamente da NASA a cada dia e com uma descrição detalhada feita por um
            astrônomo!</h2>
        <p class="font-color-white">Dica: Clique com o botão direito do mouse e vá na opção "Abrir imagem em uma nova guia" para visualizar apenas a imagem de forma nítida.</p>
        <div class="container-img">
            {% if media_type == "video" %}
            <video width="100%" height="400" controls>
                <source src="{{url}}">
            </video>
            {% else %}

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Para saber mais! &#128270;</h5>
                    <p class="card-text">{{description}}</p>
                </div>
                <img src="{{url}}" class="card-img-bottom" alt="...">
            </div>
            {% endif %}
        </div>
    </main>

    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>