<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/apod.css')}}">
    <title>Astronomy Picture Of Day</title>

    <style>
        body{
            background-image: url("{{url_for('static', filename='images/cosmic-bg.png')}}");
        }
    </style>
    
</head>

<body>

<header>
    <div class="container-title">
        <h1 id="title-caption">Astronomy Picture Of Day</h1>
        <button id="btn-home" type="button" class="btn btn-outline-primary" onclick=window.location.href="{{url_for('index')}}">Home</button>
    </div>
</header>

<main>
        <h2>A API APOD retorna uma imagem diretamente da NASA a cada dia e com uma descrição detalhada feita por um astrônomo!</h2>
    <div class="container-img">
        <img id="img-apod" src="{{img_apod}}">
    </div>
    <br>
    <br>
    <div class="container-explanation">
        <h2>Para saber mais:</h2>
        <br>
        <p>{{txt_apod}}</p>
    </div>
</main>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>