<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/asteroids.css')}}">
    <title>Space Map</title>
</head>
<body>
    <h1>Mapeamento de objetos espaciais</h1>

    <div class="container-data">
        <h2>Quantidade de corpos celestes: {{count}}</h2>

        <table>
        {% for name, diameter, approach_date in data %}
            <tr>
                <th>Nome</th>
                <th>Diâmetro</th>
                <th>Data de passagem</th>
            </tr>
            <tr>
                <td>{{name}}</td>
                <td>{{diameter}}</td>
                <td>{{approach_date}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

</body>
</html>