<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <title>Andromeda Project</title>
</head>
<body>
    <div class="container-title">
        <h1>Bem-vindo ao Andromeda Project</h1>
    </div>
        <nav class="container-navbar">
            <button id="nav-btn-apod" onclick=window.location.href="{{url_for('apod')}}">Imagens do universo</button>
            <button id="nav-btn-insight">O clima em Marte</button>
        </nav>
</body>
</html>